
body{
    font-size: x-large;
    font-family: 'Bebas Neue', cursive;
    font-family: 'EB Garamond', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lora', serif;
    font-family: 'Rokkitt', serif;
}
.row{
    padding: 20px;
}

#right{
    border: double rgb(76, 2, 99);
    border-width: 15px;
    background-color: white;

}

.button{
    margin: 20px;
    align-self: center;
}

label{
    background-color:rgb(133, 1, 173);
    color: white;
    font-size: large;
}

.err {
    border: solid red;
}

h2{
    background-color:rgb(76, 2, 99);
    color: white;
    padding: 5px;
    margin: 10px;
}

.container{
    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}